/* my color palette (light to dark)
#b6e2fa
#189de4
#52b7e9
#146ca4
#46648c
#242444
*/
.nanumsquare { 
    font-family: 'NanumSquare', sans-serif !important; 
}

.my-nav {
    background: #46648c;
}

.my-jumbotron {
    background: #b6e2fa;
}